.container
  .well
    h2 操作說明
    ol
      li 在右下角裁切照片，並保持人像在右方紅色所示 facebook cover 範圍內
      li 於左下角填寫基本資料
      li 存檔後寄給工作人員!

  .row
    .col-xs-12(ng-include="'/posters/show.html'")

  .row
    .col-xs-6
      form(role="form" ng-submit="index.save()")
        .form-group
          p 大頭照
          .btn-group(data-toggle="buttons")
            button.btn.btn-default(type="button" name="avatar"  ng-model="poster.useAvatar" btn-radio="false") 不使用
            button.btn.btn-default(type="button" name="avatar"  ng-model="poster.useAvatar" btn-radio="true" ) 使用
        .form-group
          p 地點文字顏色
          .btn-group
            button.btn.btn-default(type="button" ng-model="poster.useColor" btn-radio="'white'") 白色
            button.btn.btn-default(type="button" ng-model="poster.useColor" btn-radio="'black'") 黑色
        .form-group
          label 姓名
          input.form-control(type="text" ng-model="poster.name" required)
        .form-group
          label 經歷1 (紅字)
          input.form-control(type="text" ng-model="poster.exprs[0]" required)
        .form-group
          label 經歷2
          input.form-control(type="text" ng-model="poster.exprs[1]")
        .form-group
          label 經歷3
          input.form-control(type="text" ng-model="poster.exprs[2]")
        .form-group
          label 地點
          input.form-control(type="text" ng-model="poster.location" required)
        .form-group
          label 簡介
          textarea.form-control(rows="5" ng-model="poster.brief" required)

        //- button.btn.btn-default(ng-click="render($event)") Render
        button.btn.btn-primary(type="submit") 存檔
        label(ng-show="poster.id")
          |  海報網址： 
          a(target="_blank" ng-href="{{ poster.fullUrl() }}" ng-bind="poster.fullUrl()")
        //- img(ng-src="{{ renderedUrl }}")

    .col-xs-6
      .well
        form.form-inline(role="form" ng-controller="ImageUploadCtrl as imgup" ng-submit="imgup.upload('cover')")
          .form-group
            label(for="") 底圖
            input(type="file" ng-model="newImage.file" required)
          button.btn.btn-default(type="submit") 上傳
        .thumbnail
          img.cover(ng-src="{{ poster.cover }}" alt="")

        form.form-inline(role="form" ng-show="poster.useAvatar" ng-controller="ImageUploadCtrl as imgup" ng-submit="imgup.upload('avatar')")
          .form-group
            label(for="") 大頭照（請先裁切成 1:1 ）
            input(type="file" ng-model="newImage.file" required)
          button.btn.btn-default(type="submit") 上傳
        .thumbnail(ng-show="poster.useAvatar")
          img.avatar(ng-src="{{ poster.avatar }}" alt="")

  .row
    iframe(src="https://docs.google.com/forms/d/1jDXnLJ5Y2WOG-JIbNCqt-ovmoyt_Sqg6ptDltqoCxn4/viewform?embedded=true"
      width="900" height="800" frameborder="0" marginheight="0" marginwidth="0")
