#index.container-fluid
  .well
    h2 操作說明
    ol
      li 在右下角裁切照片，並保持人像在右方紅色所示 facebook cover 範圍內
      li 於左下角填寫基本資料
      li 存檔後寄給工作人員!

  .row
    .col-xs-6
      form(role="form")
        .form-group
          label 姓名
          input.form-control(type="text" ng-model="name")