#index.container-fluid
  .well
    h2 操作說明
    ol
      li 在右下角裁切照片，並保持人像在右方紅色所示 facebook cover 範圍內
      li 於左下角填寫基本資料
      li 存檔後寄給工作人員!

  .row
    .col-xs-12
      #preview-container
        #preview
          #content-text
          #content-header
            img.img-responsive(src="/index/ioh_brand.png", alt="")
            .text-right
              span(ng-bind="page.name")
              br
              span(ng-bind="page.exprs[0]")
              br
              span(ng-bind="page.exprs[1]")
              br
              span(ng-bind="page.exprs[2]")
  .row
    .col-xs-6
      form(role="form")
        .form-group
          label 姓名
          input.form-control(type="text" ng-model="page.name")