#index.container-fluid
  .row
    .col-xs-12
      .jumbotron
        .container
          h1 NPM <-> RubyGems
          p Find the recommended corresponding NPM packages by RubyGems

          form.form-inline(role="form" name="searchForm")
            .form-group
              label
                | Suggest me some
                span.pkg-name(ng-bind="index.targetText()")
                | by a
              input.pkg-name.form-control(type="text" ng-model="name"
                ng-attr-placeholder="{{index.sourcePlaceholder()}}"
                ng-change="search()")

            //- button.btn.btn-primary.btn-lg(type="submit") Go
            a#vice_versa(ng-click="viceVersa()") vice versa!  

          p(ng-show="!searchForm.$pristine && name.length > 0")
            | Type more ... we're working ...
  .row
    .col-xs-12(ng-include="'/mappings/_list.html'")
      


