.container
  .row
    h2 新增一個講者海報
    form.form-inline(role="form" ng-submit="index.save()")
      .form-group
        label 姓名
        | 
        input.form-control(ga type="text" ng-model="poster.name" required)
      | 
      button.btn.btn-primary(ga type="submit") 製作海報 GO！

  .row
    h2
      | 或是從已經建立好的列表挑選
      small  ({{posters.length}})
    ul.media-list
      li.media(ng-repeat="poster in posters")
        a.pull-left(ga ui-sref="Poster.ShowWithName(poster)")
          img.media-object(ng-src="{{ poster.avatar }}" ng-attr-alt="{{ poster.name }}")
        .media-body
          h4.media-heading
            a(ga ui-sref="Poster.ShowWithName(poster)" ng-bind="poster.name")
          p(ng-bind="poster.brief")
