.container
  .jumbotron
    h1 操作說明
    ol
      li 在右下角裁切照片，並保持人像在右方紅色所示 facebook cover 範圍內
      li 於左下角填寫基本資料
      li 存檔後寄給工作人員!

  .row
    .col-xs-12
      #preview-container
        #preview(html2canvas="preview")
          #content-text(ng-style="{'background-image': 'url(' + poster.cover + ')'}")
            .text-left
              p(ng-bind="poster.brief")
              img.avatar(ng-show="poster.useAvatar" ng-src="{{ poster.avatar }}")
              p(ng-style="{'color':poster.useColor}")
                | 地點 : 
                span(ng-bind="poster.location" ng-style="{'color':poster.useColor}")

          #content-header
            img.img-responsive(src="/index/ioh_brand.png" alt="IOH")
            .text-right
              span(ng-bind="poster.name")
              br
              span(ng-bind="poster.exprs[0]" ng-style="{'color': poster.hightlightIndex == 0 ? '#ff0604' : 'inherit'}")
              br
              span(ng-bind="poster.exprs[1]" ng-style="{'color': poster.hightlightIndex == 1 ? '#ff0604' : 'inherit'}")
              br
              span(ng-bind="poster.exprs[2]" ng-style="{'color': poster.hightlightIndex == 2 ? '#ff0604' : 'inherit'}")

  .row
    .col-xs-6
      form(role="form" ng-submit="show.save()")
        .form-group
          p 大頭照
          .btn-group
            button.btn.btn-default(ga type="button" name="avatar"  ng-model="poster.useAvatar" btn-radio="false") 不使用
            button.btn.btn-default(ga type="button" name="avatar"  ng-model="poster.useAvatar" btn-radio="true" ) 使用
        .form-group
          p 地點文字顏色
          .btn-group
            button.btn.btn-default(ga type="button" ng-model="poster.useColor" btn-radio="'white'") 白色
            button.btn.btn-default(ga type="button" ng-model="poster.useColor" btn-radio="'black'") 黑色
        .form-group
          label 姓名
          input.form-control(ga type="text" ng-model="poster.name" required)
        .form-group(ng-repeat="expr in poster.exprs track by $index")
          label
            | 經歷{{$index+1}}
            input(ga type="radio" ng-model="poster.hightlightIndex" ng-value="$index")
            | (標為紅字)
          input.form-control(ga type="text" ng-model="poster.exprs[$index]")
        .form-group
          label 地點
          input.form-control(ga type="text" ng-model="poster.location" required)
        .form-group
          label 簡介
          textarea.form-control(ga rows="5" ng-model="poster.brief" required)

        .btn-group
          button.btn.btn-default(ga type="button" tooltip="請記得縮放（見下方說明）" ng-click="saveFile()") 輸出海報
          button.btn.btn-primary(ga type="submit") 存檔
        span.help-block
          | * 如果要使用輸出海報功能，
          strong 請將瀏覽器視窗「縮放」到可完整看見海報預覽圖
          |，否則輸出成品會不完整。
          a(ga href="/index/firefox_scale.png" target="_blank") 點我看示意圖

    .col-xs-6
      .well
        form.form-inline(role="form" ng-controller="ImageUploadCtrl as imgup" ng-submit="imgup.upload('cover')")
          .form-group
            label(for="") 底圖（尺寸：1920px x 860px）
            input(ga type="file" ng-model="newImage.image" required)
          button.btn.btn-default(type="submit") 上傳
        .thumbnail
          img.cover(ng-src="{{ poster.cover }}" ng-attr-alt="{{ poster.name }}")

        form.form-inline(role="form" ng-show="poster.useAvatar" ng-controller="ImageUploadCtrl as imgup" ng-submit="imgup.upload('avatar')")
          .form-group
            label(for="") 大頭照（請先裁切成 1:1，尺寸至少：320 x 320px）
            input(ga type="file" ng-model="newImage.image" required)
          button.btn.btn-default(type="submit") 上傳
        .thumbnail(ng-show="poster.useAvatar")
          img.avatar(ng-src="{{ poster.avatar }}" ng-attr-alt="{{ poster.name }}")

  .row
    h3(ng-show="poster.id")
      |  海報網址： 
      a(ga ng-href="{{ poster.fullUrl() }}" ng-bind="poster.fullUrl()")

    iframe(src="https://docs.google.com/forms/d/1jDXnLJ5Y2WOG-JIbNCqt-ovmoyt_Sqg6ptDltqoCxn4/viewform?embedded=true"
      width="1000" height="1000" frameborder="0" marginheight="0" marginwidth="0")
