$icon-font-path: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';

@import "bootstrap";
@import "footer";
/*
 * app
 */
body {
  padding-top: 70px;

  > header.navbar {
    
  }
}

@mixin stretch($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

#preview-container {
  padding: 30px;
  margin-bottom: 10px;
  background-image: url('/index/bg.png');
  background-repeat: no-repeat;
  background-position: center;

  #preview {
    @include size(960px, 540px);
    @include center-block();
    position: relative;

    * > { overflow: hidden; }
    $content-text-height: 430px;
    #content-text { height: $content-text-height; }
    #content-header { @include stretch($content-text-height, 0, 0, 0); }
  }
}

#content-header > .text-right {
  @include stretch(11px, 29px, auto, auto);
  @font-face {
    font-family: AdobeFanHeitiStd;
    src:url('/AdobeFanHeitiStd-Bold.otf');
  }
  font-family: AdobeFanHeitiStd;

  > :nth-child(3) { color: #ff0604; }
}



