$icon-font-path: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';

@import "bootstrap";
@import "footer";
/*
 * app
 */
body {
  padding-top: 70px;

  > header.navbar {
    
  }
}

@mixin stretch($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


$preview-width: 1920px;
$preview-height: 1080px;
$content-text-height: 860px;

#preview-container {

  $padding: 60px;

  padding: $padding;
  margin-bottom: 20px;
  height: ($preview-height / 2) + 2 * $padding;

  background-image: url('/index/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;


  #preview {
    @include size($preview-width, $preview-height);

    &.scale-active {
      @include scale(.5, .5);
      top: -$preview-height/4 + $padding;
    }
    @include stretch(0, 0, 0, 50%);
    margin-left: -($preview-width / 2);

    @font-face {
      font-family: AdobeFanHeitiStd;
      src:url('/AdobeFanHeitiStd-Bold.otf');
    }
    font-family: AdobeFanHeitiStd;

    * > { overflow: hidden; }
    #content-text { height: $content-text-height; position: relative; }
    #content-header { @include stretch($content-text-height, 0, 0, 0); }
  }
}

.avatar {
  @include square(320px);
  padding: 10px;
}

#content-text > .text-left {
  @include stretch(auto, 60px, 0, 0);

  > :first-child {
    @include stretch(auto, 360px, 76px, auto);
    background-color: rgba(#fff, .56);
    padding: 20px;
    margin-bottom: 0;
    width: 620px;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
  }

  > img {
    @include stretch(auto, 0, 74px, auto);
    background-color: white;
  }

  > :last-child {
    @include stretch(auto, 0, 0, auto);
    font-size: 24px;
  }
}

#content-header > .text-right {
  @include stretch(22px, 58px, auto, auto);
  font-size: 28px;

  > :nth-child(3) { color: #ff0604; }
}

.form-inline {
  margin: 20px 0;
}

$cover-ratio: 4;

.thumbnail {
  .cover { @include size(( $preview-width / $cover-ratio ), ( $content-text-height / $cover-ratio )); }
} 




