header.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button" ng-click="isCollapsed = !isCollapsed")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(role="button" ui-sref="Index") IOH Cover Maker
