.container-fluid
  .row
    form#mappings_list(role="form" ng-submit="create.connect(gems, npm)")
      .col-xs-12.col-sm-4
        .panel.panel-default
          .panel-heading
            .form-group.h3
              .input-group
                span.input-group-addon Ruby Gems
                input.form-control(type="text" ng-model="gemsName" required)
                a.input-group-addon(ng-if="gems" ng-href="https://rubygems.org/gems/{{ gems.name }}" target="_blank")
                  span.glyphicon.glyphicon-link
          .panel-body(ng-bind-html="gems.info | linky")

      .searcher.col-xs-12.col-sm-4.text-center
        button.btn.btn-default(type="button" ng-show="gemsName != gems.name || npmName != npm.name"
          ng-click="create.info(gemsName, npmName)") Search
        button.btn.btn-primary(type="submit" ng-show="gems && npm") Connenct!

      .col-xs-12.col-sm-4
        .panel.panel-default
          .panel-heading
            .form-group.h3
              .input-group
                a.input-group-addon(ng-if="npm" ng-href="https://www.npmjs.org/package/{{ npm.name }}" target="_blank")
                  span.glyphicon.glyphicon-link
                input.form-control(type="text" ng-model="npmName" required)
                span.input-group-addon Npm Packages

          .panel-body(ng-bind-html="npm.description | linky")