doctype html
html(ng-app="ioh-cover-maker")
  head
    meta(charset="utf-8")
    base(href="/")
    title IOH Cover Maker
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" href=stylesheetLinkTag("application.css"))
    script(type="text/javascript" defer src=javascriptIncludeTag("application.js"))
  body
    include partials/header
    div(role="main" ui-view)
    include partials/footer
